* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: tahoma;
  color: #989898;
  margin: 0;
  font-size: 16px;
}

#todo-table {
  background: #090d13;
  padding: 20px;
  height: 100vh;
}

form {
  display: flex;
  gap: 10px;
}

form input[type="text"] {
  flex-grow: 10;
  padding: 20px;
  background: #181c22;
  border: 0;
  color: #989898;
}

form button {
  padding: 20px;
  flex-grow: 1;
  background: #0000ff;
  border: 0;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #0000ffab;
}

.todo {
  padding: 0;
  margin: 0;
}

li p {
  flex-grow: 4;
  padding: 20px;
  border: 0;
  color: #989898;
}

li button {
  padding: 0;
  background-color: unset;
  flex-grow: 1;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

li button:hover {
  color: #ff0000;
  background: unset;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(100vh - 200px);
}

li {
  padding: 20px;
  margin: 10px;
  width: 45%;
  font-family: arial;
  letter-spacing: 1px;
  display: flex;
  gap: 10px;
}

p {
  padding: 20px;
  font-family: arial;
}

.error {
  color: #ff0000;
}
